annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
dotenv
elevenlabs
fal-client
fastapi[standard]
ffmpeg-python
h11
httpcore
httpx
httpx-sse
idna
manim
mistralai
moderngl
msgpack
numpy
openai
pycairo
pydantic
pydantic-settings
pydantic_core
python-dotenv
python-multipart
requests
runware
typing-inspection
typing_extensions
urllib3
uvicorn[standard]
websockets
